div.content {
  margin: 200px auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  width: 400px;
  border-radius: 20px;
  box-shadow: 0 2px 15px 0px rgba(0, 0, 0, 0.41);

  img {
    width: 300px;
  }

  .button-area {
    * + * {
      margin-left: 20px;
    }
  }
}
